{{- if not .Values.hcloudTokenSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "scale.fullname" . }}-token
  labels:
    {{- include "scale.labels" . | nindent 4 }}
type: Opaque
stringData:
  token: {{ required "hcloudToken is required when hcloudTokenSecret is not set" .Values.hcloudToken }}
{{- end }}
