apiVersion: v1
kind: Service
metadata:
  name: {{ include "scale.fullname" . }}-metrics
  labels:
    {{- include "scale.labels" . | nindent 4 }}
    app.kubernetes.io/component: metrics
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "scale.selectorLabels" . | nindent 4 }}
